apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apache2
  template:
    metadata:
      labels:
        app: apache2
    spec:
      containers:
      - name: apache2
        image: "httpd:2.4-alpine"
        ports:
         - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: apache2
spec:
  type: NodePort
  selector:
    app: apache2
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30000
